.invite-form{
    border: 0.5px rgba(0, 0, 0, 0.158) solid !important;
    border-radius: 20px;
    width: 500px;
    box-shadow: 10px 6px 5px 0px rgba(0,0,0,0.66);
    -webkit-box-shadow: 10px 6px 5px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 6px 5px 0px rgba(0,0,0,0.66);
 }
 
 .invite-basic-info{
    margin: 10px;
    padding-top: 10px;
 }
 
 .invite-basic-info .info-field{
    width: 100%;
 }

 .submit-button{
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 30%;
 }