<mat-tab-group dynamicHeight>
    <!-- ADMIN ATTENDEE MANAGER -->
    <mat-tab label="Attendee Manager">
        <div class="attendee-manager-section mat-elevation-z4">
        <app-attendee-manager></app-attendee-manager>
        </div>
    </mat-tab>

    <!-- ELEVATE ATTENDANCE -->
    <mat-tab label="Elevate Attendance">
        <div class="elevate-attendance-section mat-elevation-z4">
            <app-elevate-attendance></app-elevate-attendance>
        </div>
    </mat-tab>
</mat-tab-group>