<mat-tab-group dynamicHeight>
  <!-- INVITES TAB -->
  <mat-tab label="Invite">
    <h1>Welcome to Elevate!</h1>
    <div class="invite-page mat-elevation-z4">
      <app-invite-form></app-invite-form>
    </div>
  </mat-tab>

  <!-- REGULAR ATTENDEES TAB -->
  <mat-tab class="tab-container" label="Regular Attendee">
    <h1>Welcome to Elevate!</h1>
    <div class="regular-attendee-page mat-elevation-z4">
      <app-regular-attendee-form></app-regular-attendee-form>
    </div>
  </mat-tab>
</mat-tab-group>